.pagination {
  display: flex;
  justify-content: end;
  padding-top: 16px;
}

.headerItem {
  margin: 4px;
}

.tableLayout {
  width: 100%;
  overflow-x: auto;
}

.card {
  width: 98px;
  margin: 4px;
}

.cardImage {
  height: 98px !important;
  object-fit: cover;
}
