.pagination {
  display: flex;
  justify-content: end;
  padding-top: 16px;
}

.headerItem {
  margin: 2px;
}

.tableLayout {
  width: 100%;
}

.card {
  width: 98px;
  margin: 4px;
  box-shadow: 0px 1px 2px #777777;
}

.cardImage {
  height: 98px !important;
  object-fit: cover;
}
