.pagination {
  display: flex;
  justify-content: end;
  padding-top: 16px;
}

.headerItem {
  margin: 2px;
}

.tableLayout {
  width: 100%;
}

.card {
  width: 122px;
  margin: 6px;
  box-shadow: 0px 2px 1px #eeeeee;
}

.cardImage {
  height: 122px !important;
  object-fit: cover;
}
