.container {
  justify-content: space-between !important;
}

.title {
  font-size: 24px !important;
  line-height: 32px !important;
  margin-top: 0px !important;
  margin-left: 28px !important;
}

.actionButton {
  margin-left: 10px;
}
