.headerItem {
  margin: 12px;
  color: white;
}

.card {
  width: 180px;
  margin: 7px;
}

.cardImage {
  height: 180px !important;
  object-fit: cover;
}

.productContainer {
  padding: 0 4%;
}

.productRow {
  justify-content: space-evenly;
  padding-top: 12px;
}
