.overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}

.ldsRing {
  display: inline-block;
  z-index: 99999;
  position: fixed;
  top: 50%;
}
