.container {
  justify-content: space-between !important;
}

.title {
  font-size: 18px !important;
  line-height: 32px !important;
  margin: 0px 0px 4px 12px !important;
}

.actionButton {
  margin-left: 10px;
}
